### IntelliJ IDEA ###
out/
target/
!**/src/main/**/out/
!**/src/test/**/out/
.claude/
credentials.json

Runner.java
mcp/node_modules
scripts/main.*.js
designs/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
*.iml
.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store